<footer>
    <div class="container">
        <div class="jumbotron">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> {{ site_name }} {{ "now"|date('Y') }}</p>
        </div>
    </div>
</footer>
